body {
  font: 20px/1.5  Arial, sans-serif;
  padding: 0;
  margin = 0;
  background-image: url("./aboutbg.jpg");
  color : Black;
}

.container {
   width:80%;
   margin: auto;
   overflow: hidden;
 }
.button1{
  height: 38px;
  background: Salmon;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: Black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* Header */

header {
  font-size: 40px;
  background-color:transparent;
  color : DarkRed;
  min-height: 70px;
  border-bottom: DarkBlue 3px solid;
  text-transform: uppercase;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {

  float: left;
}

li a {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: White;
  text-align: center;
  font-family: courier;
  font-weight: lighter;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: red;
}

.active {
 text-transform: uppercase;
 color: HotPink;
}


header #branding {
  text-align: center;
}

header #branding h1 {
  float:left;
  margin:0;
  padding-left:40px;
}

header nav {
  float: right;
  margin-top: 0;
}

header .highlight, a{
color : DarkBlue;
font-weight: bold;
}

header a:hover {
 color: Maroon;
 font-weight: bolder;
}

#branding img {
 float :right;
}

/* Newsletter */

#newsletter {
  padding: 0px;
  color: white;
  background-color: DarkRed;
}

#newsletter h1 {
  color: White;
  text-transform: uppercase;
  float:left;
  padding: 0;
}

#newsletter form {
  float: right;
  margin-top: 30px;
}

#newsletter input[type="email"] {
padding : 4px;
height :25px;
width: 250px;
}


#about h1, #about h2 {
  font-size: 30px;
  font-family: verdana;
  font-weight: bold;
  color: White;
  text-align: center;
  text-transform: uppercase;
  background-color: MidnightBlue;
}

img {
 float: right;
 border-radius: 20%;
}

#about .container p {
   font-size: 20px;
   text-align: left;
   font-weight: bold;
   font-family: Courier;
   text-transform: none;
   background: transparent !important;
   color: black;
 }

#contact h1 {
  font-size: 30px;
  font-family: verdana;
  font-weight: bold;
  color: White;
  text-align: center;
  text-transform: uppercase;
  background-color: MidnightBlue;
}

#contact p {
  font-family: Segoe UI;
  text-align : center;
  width: 100%;
  word-spacing: 3px;
  background-color: SteelBlue;
  font-size: 18px;
  color: Black;
  font-weight: bold;
  border-style: none;
  border-radius: 10%;
  text-transform: none;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: darkblue;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
}
