body {
  font: 20px/1.5  Arial, sans-serif;
  padding: 0;
  margin = 0;

  background-image: url("../images/bgimg.jpg");

  background-image: url("./images/bgimg.jpg");

  background-size: cover;
  color : Black;
}

.container {
   width:80%;
   margin: auto;
   overflow: hidden;
 }
.button1{
  height: 38px;
  background: Salmon;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: Black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* Header */

header {
  font-size: 40px;
  background-color:transparent;
  color : Brown;
  min-height: 70px;
  font-family: 'Vollkorn', serif;
  border-bottom: gold 3px solid;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: White;
  text-align: center;
  font-family: Rockwell;
  font-weight: lighter;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: crimson;
}

.active {
  text-transform: uppercase;
  color: Gold;
}


header #branding {
  text-align: center;
}

header #branding h1 {
  float:left;
  margin:0;
  padding-left:40px;
}

header nav {
  float: right;
  margin-top: 0;
}

header .highlight, a {
  color : Maroon;
  font-weight: bold;
}

header a:hover {
 color: Maroon;
 font-weight: bolder;
}

header img {
  padding: 0px;
  margin: 0px;
}

#branding img {
  margin: 0px;
  float :right;
}

/* Newsletter */

#newsletter {
  padding: 0px;
  color: white;
  background-color: DarkRed;
}

#newsletter h1 {
  font-family: 'Quando', serif;
  color: White;
  text-transform: uppercase;
  float:left;
  padding: 0;
}

#newsletter form {
  float: right;
  margin-top: 30px;
}

#newsletter input[type="email"] {
  padding : 4px;
  height :25px;
  width: 250px;
}

#about h1, #about h2 {
  font-size: 30px;
  font-family: 'Kreon', serif;
  font-weight: bold;
  color: White;
  text-align: center;
  text-transform: uppercase;
  background-color: saddlebrown;
}

img {
 float: right;
 border-radius: 20%;
}

#about .container p {
  margin: 20px;
  font-size: 20px;
  text-align: left;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: none;
  background: transparent !important;
  color: black;
 }

#contact h1 {
  font-size: 30px;
  font-family: 'Kreon', serif;  font-weight: bold;
  color: White;
  text-align: center;
  text-transform: uppercase;
  background-color: saddlebrown;
}

#contact p {
  font-family: 'Josefin Sans', sans-serif;
  text-align : center;
  width: 100%;
  word-spacing: 3px;
  background-color: sandybrown;
  font-size: 18px;
  color: Black;
  font-weight: bold;
  border-style: none;
  border-radius: 10%;
  text-transform: none;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: SaddleBrown;
  font-family: 'Quando', serif;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
  font-size: 15px;
}
