body {
   font: 20px/1.5  Arial, sans-serif;
   padding: 0;
   margin = 0;

   background-image: url("./images/plains.jpg");

   background-image: url("./images/plains.jpg");

   color : Black;
}

.container {
   width:80%;
   margin: auto;
   overflow: hidden;
 }
.button1{
  height: 38px;
  background: Salmon;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: Black;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* Header */

header {
  font-size: 40px;
  background-color:transparent;
  color : Black ;
  min-height: 70px;
  border-bottom: MediumSpringGreen 3px solid;
  text-transform: uppercase;
  font-family: 'Vollkorn', serif;
}

header img {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: White;
  text-align: center;
  font-family: Rockwell;
  font-weight: lighter;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: crimson;
}

.active {
 text-transform: uppercase;
 color: YellowGreen;
}


header #branding {
  text-align: center;
}

header #branding h1 {
  float:left;
  margin:0;
  padding-left:40px;
}

header nav {
  float: right;
  margin-top: 0;
}

header .highlight, a{
  color : YellowGreen;
  font-weight: bold;
}

header a:hover {
  color: Maroon;
  font-weight: bolder;
}

#branding img {
  float :right;
}

#booking
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  font-variant: normal;
  color: Black;
  font-weight: bold;
}

#booking .formfill {
  width:500px;
  margin:50px auto;
  border: 5px;
  border-color: DarkGreen;
  border-style: double;
  border-width: thick;
  background-color: Transparent;
}

#booking .info {
  width:100%;
  padding:8px;
  text-align: center;
  font-size:30px;
  font-weight:bold;
  font-family: 'Kreon', serif;
  text-transform: uppercase;
}

#booking h3 {
  text-align: center;
  font-size:18px;
  font-weight:bold;
  font-family: 'Kreon', serif;
  text-transform: uppercase;
}

form {
  text-align: center;
}

#booking .form-box {
  padding: 20px;
}

#booking label {
  font-size:20px;
  font-weight:bold;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  border: 1px;
  background-color: transparent;
  border-radius: 0%;
  width: 50%;
  border-style:hidden;
  background-size: contain;
  border-color: ForestGreen;
  border-width: medium;
  color: black;
}
#booking #name, #booking #email, #booking #phone-number {
  width: 100%;
  padding: 10px;
}

#booking textarea {
  width: 70%;
  font-size: 15px;
  padding: 20px;
}

#booking .sub-btn {
  width: 40%;
  text-transform: uppercase;
  font-family: Rockwell;
  font-weight: lighter;
  font-size: 25px;
  border-style: outset;
  border-color: Lightgreen;
  background-color: ForestGreen;
  color:White;
}

#booking .sub-btn {
  transition-duration: 0.4s;
}

#booking .sub-btn:hover {
  background-color: DarkOrange; /* Green */
  border-color: orange;
  border-style:outset;
}

#booking .box:focus {
  background-color: lightgreen;
}

#msg-box:focus {
  background-color:lightgreen;
}

footer {
  padding: 20px;
  margin-top: 20px;
  color: black;
  font-family: 'Quando', serif;
  font-size: 15px;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
}
