body {
   font: 20px/1.5  Arial, sans-serif;
   padding: 0;
   margin = 0;
   background-color: white;
   color : Black;
}

.container {
   width:80%;
   margin: auto;
   overflow: hidden;
 }
.button1{
  height: 38px;
  background: Black;
  border: 0;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-family: Verdana;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
/* Header */

header {
  font-size: 40px;
  background-color:transparent;
  color : Black ;
  min-height: 70px;
  border-bottom: #A569BD 3px solid;
  text-transform: uppercase;
  font-family: 'Vollkorn', serif;
}

header img {
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  color: White;
  text-align: center;
  font-family: Rockwell;
  font-weight: lighter;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: crimson;
}

.active {
 text-transform: uppercase;
 color: #A569BD;
}


header #branding {
  text-align: center;
}

header #branding h1 {
  float:left;
  margin:0;
  padding-left:40px;
}

header nav {
  float: right;
  margin-top: 0;
}

header .highlight, a{
  color : #6C3483;
  font-weight: bold;
}

header a:hover {
  color: Maroon;
  font-weight: bolder;
}

#branding img {
  float :right;
}


/* Showcase */

#showcase {
  min-height: 400px;
  font-size: 25px;
  background-image: url("./images/showserve.jpg");
  background-size: cover;
  color: Black;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}

#showcase h1 {
  font-family: 'Kreon', serif;
  margin-top: 100px;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#showcase .color, a {
  color: #6C3483;
}

#showcase .color1, a {
  color: Black;
}

/* Newsletter */

#newsletter {
  padding: 10px;
  color: white;
  background-color: #4A235A;
}

#newsletter h1 {
  color: White;
  text-transform: uppercase;
  font-family: 'Quando', serif;
  float:left;
}

#newsletter form {
  float: right;
  margin-top: 30px;
}

#newsletter input[type="email"] {
padding : 4px;
height :25px;
width: 250px;
}

footer {
  padding: 20px;
  margin-top: 20px;
  font-family: 'Quando', serif;
  color: black;
  text-transform: capitalize;
  background-color: transparent;
  text-align: center;
  font-size: 15px;
}
